<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>FEEL!!</title>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css">
	<%= include_gon %>
</head>
<body>
	<% number=Post.count %>
	<div class="conA">
		<div class="container">
			<h1>feel!!</h1>
			<h2><%= number %></h2>
		</div>
	</div>
	<% if !current_user.nil? %>
		<h1><a href="/new">...Feeling</a></h1>
	<% end %>

	<% posts_order=Post.order(id:"DESC") %>
	<% posts_order_user=posts_order.select(:user_id).distinct %>
	<% posts=posts_order_user.limit(5) %>

	<div class="background">
		<% if !posts_order.nil? %>
			<script type="text/javascript">
				var polygon_number=['polygon_0_number','polygon_1_number','polygon_2_number','polygon_3_number','polygon_4_number']
			</script>
			<% posts.each_with_index do |user,i| %>
				<% post=posts_order.find_by(user_id: user.user_id) %>
				<section id="particles-js-<%= i %>">
					<script src="assets/js/particles.js"></script>

					<script type="text/javascript">
						polygon_number[i]= '<%=post.option1%>';
					</script>

					<script type="text/javascript" src="assets/js/setting.js"></script>
					<div><h2><%=i%></h2></div>
				</section>
			<% end %>
		<% end %>
	</div>

	<div class="userview">
		<h2>参加中のユーザ</h2>
		<% if !posts_order.nil? %>
			<% posts.each do |user| %>
				<% post=posts_order.find_by(user_id: user.user_id) %>
				<% user=@users.find_by(id:post.user_id) %>
				<ul>
					<li><a href="/home/<%= post.user_id %>"><%= user.name %></a><%= post.option1 %></li>
				</ul>
			<% end %>
		<% end %>
	</div>
</body>
</html>
