<% posts.each_with_index do |user,i| %>
				<% post=posts_order.find_by(user_id: user.user_id) %>
				<% property=Property.find_by(user_id: user.user_id %>
				<section id="particles-js-<%= i %>">

					<script type="text/javascript">
						polygon_number.polygon_<%= i %>_number= <%= post.option1%> +2;
						speed_number.speed_<%= i %>_number    = <%= @speeds[<%= post.option2 %>]%>;
						opacity_number.opacity_<%= i %>_number= <%= @opacity[<%= post.option3 %>]%>;
					</script>
					<% if  !property.nil? %>
						<script type="text/javascript">
							color_number.color_<%= i %>_number    = <%= @colors[<%= property.favorite1 %>]%>;
							size_number.size_<%= i %>_number      = <%= @sizes[<%= property.favorite2 %>]%>;
						</script>
					<% else %>
						<script type="text/javascript">
							color_number.color_<%= i %>_number    = "#000000";
							size_number.size_<%= i %>_number      = 100;
						</script>
					<% end %>
					<script type="text/javascript" src="assets/js/setting.js"></script>

				</section>
			<% end %>